.sass-cache/
*.css.map
*.pyc
.pyc
hrims/__pycache__/urls.cpython-36.pyc
*.pyc
hrims/__pycache__/__init__.*.pyc
hrims/__pycache__/*.pyc
re_stats/__pycache__/*.pyc
re_stats/migrations/__pycache__/*.pyc
re_stats/migrations/__pycache__/*.pyc
*.env
*.pyc
hrims/__pycache__/settings.cpython-36.pyc
frontend/node_modules/
