chardet==2.3.0
Django==1.10.3
django-adaptors==0.2.5
django-csvimport==2.5
django-filter==1.0.1
djangorestframework==3.5.4
folium==0.2.1
Jinja2==2.9.5
MarkupSafe==0.23
numpy==1.12.0
pandas==0.19.2
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
