chardet==2.3.0
coreapi==2.2.4
coreschema==0.0.4
diff-match-patch==20121119
dj-database-url==0.4.1
Django==1.10.3
django-adaptors==0.2.5
django-crispy-forms==1.6.1
django-filter==1.0.1
django-import-export==0.5.1
djangorestframework==3.5.4
folium==0.2.1
gunicorn==19.6.0
itypes==1.1.0
Jinja2==2.9.5
MarkupSafe==0.23
numpy==1.12.0
pandas==0.19.2
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
tablib==0.11.4
uritemplate==3.0.0
whitenoise==3.3.0
