@import '~leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import './global-vars.scss';

html, body {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  font-family: $site-font;
  justify-content: center;
  width: 100vw;
  margin: 0;
}
#app {
  box-sizing: border-box;
  min-height: calc(100vh - #{$footer-height});
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
